<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
		<link rel="modulepreload" href="/_app/immutable/entry/start.7be179da.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/scheduler.a0c75fe1.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/singletons.c69492da.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/index.3e88aea4.js">
		<link rel="modulepreload" href="/_app/immutable/entry/app.8d3dad3a.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/index.0aa85c86.js">
</head>

<body data-sveltekit-preload-data="hover">
	<div style="display: contents">
			<script>
				{
					__sveltekit_a9sbw6 = {
						base: "",
						env: {}
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("/_app/immutable/entry/start.7be179da.js"),
						import("/_app/immutable/entry/app.8d3dad3a.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
</body>

</html>